<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<link rel = "stylesheet" type="text/css" th:href]th:href="@{/style.css}">
<link rel = "stylesheet" type="text/css" th:href]th:href="@{/bootstrap.min.css}">
<!-- question_detail.html -->
<!-- 질문 -->
<div class="container my-3">
	<!-- 질문 -->
	<h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
	<div class="card my-3">
		<div class="card-body">
			<div class="card-text" th:text="${question.content"> 
			</div>
			<div class="card-d-flex justify-content-end">  <!-- 컨텐츠 정렬을 제일 오른쪽 끝에 하겠다 --> 
				<div class="badge bg-light text-dark p-2 text-start">
						<div class="mb-2">
						<span th:if="${author != null}"
							th:text = ${qustion.author.username} >
						</span>
					<div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd hh:mm'")}></div>
				</div>
			</div>
			<!-- 질문 내용 수정 버튼 추가 -->
			<!-- 수정버튼은 누르면 질문을 수정하는 화면으로 넘어가야함. 새로운 부분이 있으므로 코드를 하나씩 입력하면서, 현재 질문이 몇번째 값인지 가지고가야하므로 id값이 필요함 
			수정도 로그인이 되어야만 수정할 수 있도록,sequrity authorize이용함
			질문에 대한 수정할때 질문에 되어있는 글쓴이랑 로그인한 글쓴이가 같아야 한다는 조건 추가
			수정버튼 누르면 modify로 이동하니까 controller에서 입력받는 부분을 연결시킴 -->
						<div class="my-3"> <!-- 마진 3 -->
				<a th:href="@{|/question/modify/${questrion.id}|}"
					class="btn btn-sm btn-outline-secondaty"
					sec:authorize="isAuthenticated()"
					th:if="${question.author != null and 
							#authentication.getPrinciapl().getUsername() == question.author.username}"
					th:text="수정">
				</a>
			</div>
		</div>
	</div>

	<!-- 질문 내용 삭제 버튼 추가 -->
	<div class="my-3">
	<a href="javascript:void(0);" 
		th:data-uri="@{|/question/delete/${question.id}|}"
		class="delete btn btn-sm btn-outline-secondary" 
		sec:authorize="isAuthenticated()"
		th:if="${question.author != null and 
		#authentication.getPrincipal().getUsername() == question.author.username}"
		th:text="삭제"></a>
	</div>

	<!-- 답변 개수 표시하기 -->
	<h5 class="border-bottom my-3 py-2" 
		th:text="${|#lists.size(question.answerList)} 개의 답변이 있습니다.|"></h5> <!-- //등록된 답변 갯수 , th가 제공하는 명령문은 #, 파이프 기호는 성격이다른 (예:string 과 int)가 있으면 양쪽에 넣어줌-->
	
	<!-- 답변 반복 시작 -->
	<div class="card my-3" th:each="answer : ${question.answerList}">
		<div class="card-body">
			<div class="card-text" th:text="${answer.content}">
			</div>
			<div class="d-flex justify-content-end">
				<div class="badge bg-light text-dark p-2 text-start">
					</div>
				<div class="mb-2">
						<span th:if="${answer.author != null}"
							th:text = ${answer.author.username} >
						</span>
					</div>	
					<div thLtext="${#temporals.format(answer.createDate,'yyyy-MM-dd hh:mm')}">
					</div>
				</div>
			</div>
		</div>
	</div> 
			 
	<!-- 답변 기능 추가 , url로 요청 보낼때는 @ -->
	<form th:object="${answerForm}" class="my-3" th:action="@{|/answer/create/${question.id}|" method="post">
		
		<div th:replace="~{form_errors:: formErrorsFragment}"></div>
		<textarea class="form-control" rows="15" cols="" name="content"></textarea>
		<input class="btn btn-primary my-2" type="submit" value="답변등록">
	</form>
	
	<!-- 버튼 추가 -->
		<a class= "btn btn-primary" href="/question/insertform" role="botton">등록화면 </a>
		<a class= "btn btn-primary" href="/question/index" role="botton">초기화면</a>
</div>

<script layout:fragment="script" type='text/javascript'>
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			if (confirm("정말로 삭제하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});

</body>
</html>
